<h3>In servers</h3>
<label>Server Name</label>
<!--<input type="text"-->
<!--class="form-control"-->
<!--(input) = "onUpdateServerName($event)">-->

<input type="text"
class="form-control"
[(ngModel)] = "serverName">

<!--Don't mix String interpolation with poperty Binding-->
<!--The value for a property in double quotes can be any typescript expression-->
<!--Do not put curly braces there-->

<button class="btn-primary"
        [disabled] = "!allowNewServer"
        (click)="onCreateServer()">Add Server</button>
<!--<p [innerText] = "allowNewServer"></p>-->
<!--<p> {{ serverCreationStatus }}</p>-->

<!--ngIf is a structural directive. i.e it changes the structure, its not hidden. Therefore * is placed ahead-->
<p *ngIf = "serverCreated">New server was created. Server name is {{serverName}}</p>
<app-server></app-server>
<app-server></app-server>
